# Environment variables (optional)
PORT=3000
MONGODB_URI=mongodb://localhost:27017/instagram_scraper
NODE_ENV=development

# Instagram session ID (add your actual session ID here)
INSTAGRAM_SESSION_ID=55466061771%3AscBYubvUTY1oNC%3A4%3AAYjwp1HObXrl1llo7XXrHfTBCcsgyLMytEdNN_JfyQ